.uploadpage {
    margin: 0 20px;
    text-align: left;
}

p {
    margin: 5px 0;
}
input {
    height: 30px;
    width: 300px;
}

.upload {
    display: flex;
    margin: 100px 0 0 0;
    padding: 0 50px;
    width: 100%;

}

.upload-img {
    border: 1px dashed black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}


.input-img {
    background-color: transparent;
    font-size: 20px;
    
}
.upload-img img {
    width: 150px;
    height: 150px;
}

.upload-btn-li {
    background-color: lightgrey;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    text-align: center;
}
.upload-btn-sec {
    background-color: lightgrey;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    width: 120px;
    text-align: center;
}

.option {
    height: 30px;
    width: 150px;
}

.tag-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    width: 500px;
}


.input-li-container {
    margin: 0 0 20px 0;
}



.form-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    
}
.form-action-link {
    background-color: lightgrey;
    border-radius: 50px;
    height: 30px;
    display: grid;
    place-content: center;
    color: black;
    text-decoration: none;
    width: 50px;
}
.form-action button {
    background-color: lightgrey;
    border-radius: 50px;
    height: 30px;
}