.bubble-right{
    text-align: right;
    background-color: #29465B;
}

.bubble-left{
    text-align: left;
    background-color:#8796A0
}

.bubble{
    color:white;
    border: 1px black solid;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 5px;

}