.bubble-right{
    text-align: right;
    margin-left: auto; 
    margin-right: 5px;
    background-color: #29465B;
}

.bubble-left{
    text-align: left;
    background-color:#8796A0
}

.bubble{
    font-size: 15px;
    color:white;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 8px;
    width: fit-content;
    max-width: 70%;
    margin-top: 0;
}

.bubble p{
    margin-bottom: 1px;
    margin-top: 1px;
    
}