.input-link-each {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-link-each-name input {
    height: 30px;
    width: 120px;
}

.input-link-each-url input {
    height: 30px;
    width: 270px;
}

.input-link-each-del {
    display: flex;
    align-items: flex-end;
}
.input-link-each-del p {
    display: flex;
    margin: 0;
    cursor: pointer;
}

.input-link-each-del p:hover {
    opacity: .8;
}