.chat-box-popup {
    border: 1px solid black;
    position: fixed;
    z-index: 2;
    background-color: #29465B;
    top: 35%;
    left: 35%;
    height:400px;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
}

.dp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    justify-content: center;
    padding: 0px;
    margin-bottom: 10px;
}