.card {
    width: 310px;
    height: 300px;
    padding: 0 30px 0 0;
    bottom: 60px;
    left: -40px;
    position: absolute;
    z-index: 10;
}

.user-card-container {
    width: 280px;
    height: 300px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.181);
    user-select: none;
}

#card-img {
    width: 70px;
    height: 70px;
    margin: -45px 0 0 0;
}

.card-bg {
    width: 100%;
    height: 80px;
    background: url('../../images/image/prop-background.jpg') no-repeat center;
}


.card-name-name {
    font-size: 20px;
    margin: -5px 0 2px 0;
    
}
.card-name-lo {
    font-size: 15px;
    margin: 2px 0;
}
.card-name-lo img {
    width: 15px;
    height: 15px;
    margin: 0 0 -2px 0;
}

.card-stat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1px solid black;
    width: 250px;
}
.card-stat-each {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-stat-each:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.card-stat-each p {
    font-size: 12px;
    margin: 2px 0;
}


.user-card-btn {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}
#user-card-btn-1 img {
    width: 13px;
    height: 13px;
    margin: 0 0 -2px 0;
}
#user-card-btn-2 img {
    width: 13px;
    height: 13px;
    margin: 0 0 -2px 0;
}
#user-card-btn-1 {
    height: 26px;
    width: 252px;
    margin: 5px 0 0 0;
    background-color: transparent;
    border: 1px solid #29465B;
    border-radius: 50px;
    display: inline;
    color: #29465B;
}
#user-card-btn-2 {
    height: 26px;
    width: 252px;
    margin: 5px 0 0 0;
    background-color: transparent;
    border: 1px solid #29465B;
    border-radius: 50px;
    display: inline;
    color: #29465B;
}

#user-card-btn-1:hover {
    color: white;
    background-color: #29465B;
    border: none;
}
#user-card-btn-2:hover {
    color: white;
    background-color: #29465B;
    border: none;
}
#user-card-btn-1:hover img {
    content: url('../../images/icons/follow-btn-white.svg');
}
#user-card-btn-2:hover img {
    content: url('../../images/icons/mess-btn-2.svg');
}