.messagelist-container {
    display: flex;
    gap: 10px;
    text-align: left;
    margin-bottom: 0.3em;
    padding: 3px;
    height:60px;
    align-items: center;
}

.messagelist-container:hover {
    cursor: pointer;
    background-color: #29465B20;
}

.chat-name {
    font-size: 14px;
}

.message-preview{
    font-size: 75%;
    color: grey;
    opacity: 70%;
}