.tag-item {
    background-color: white;
    border-radius: 50px;
    border: 1px solid #ccc;
    width: fit-content;
    margin: 0;
    padding: 2px 8px;
    display: flex;
    align-items: center;
}

.tag-item span {
    margin: 0 0 0 5px;
}

.tag-item span img {
    width: 15px;
    height: 15px;
    display: flex;
    cursor: pointer;
}

.tag-item span img:hover {
    opacity: .8;
}