.project-list {
    display: grid;
    padding: 0 40px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    user-select: none;
    width: 100%;
    position: relative;
}

.project-list >div {
    width: 100%;
}

#hidden-to-scroll {
    visibility: hidden;
    position: absolute;
    top: -700px;
    left: 0;
}