.project-list {
    display: grid;
    padding: 0 40px;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    user-select: none;
    width: 100%;
}

.project-list >div {
    width: 100%;
}