.filter {
    width: 100vw;
    height: 300px;
    margin-top: 80px;
    display: grid;
    place-content: center;
}

.filter-name {
    display: grid;
    place-content: center;
}
.filter-name h1 {
    font-size: 32px;
    letter-spacing: 10%;
    font-family: Arial;

}

.filter-search {
    display: grid;
    place-content: center;
}
.filter-search button {
    border: none;
    background-color: transparent;
}

.filter-search-bar {
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    width: 400px;
    line-height: 30px;
    height: 50px;
    margin: 30px 0;
    font-size: 25px;
    padding: 0 10px;
}

.filter-flags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}