.project-list-item {
    border: none;
    min-width: 300px;
    height: 310px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 254px auto;
    position: relative;
}

.project-list-item-img {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: grey;
}


.placeholder-img {
    display: block;
    background: rgba(226, 201, 255, 0.616);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.placeholder-img img {
    width: 100%;
    height: 122%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    display: block;
}
.placeholder-img .shader {
    position: absolute;
    inset: 0;
    transition: 200ms ease-in-out;
}
.project-list-item-img:hover .shader {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
}

.project-list-item-img button:hover {
    cursor: pointer;
    opacity: .7;
}

.img-bottom-icons {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 16px;
    gap: 16px;
    visibility: hidden;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.img-bottom-icons >span {
    display: flex;
    align-items: center;
    gap: 4px;
}
.img-bottom-icons span img {
    width: 20px;
    height: 20px;
}

.img-save-button {
    position: absolute;
    top: 16px;
    right: 5px;
    visibility: hidden;
    z-index: 10;
}

.project-list-item-img:hover .img-bottom-icons,
.project-list-item-img:hover .img-save-button {
    visibility: visible;
}

.user-card {
    visibility: hidden;
    position: relative;
    bottom: -10px;
    right: -20px;
}
.profile-btn-hover:hover .user-card {
    visibility: visible;
}
.project-list-item-foot {
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: white;
}



.project-list-item-foot-name {
    text-align: left;
}
.project-list-item-foot-name p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}
.project-list-item-foot-name p:nth-child(2) {
    font-size: 14px;
    margin: 5px 0;
}