.profile {
  display: flex;
}

.profile-content-area {
  padding: 100;
}

.ProfileCategory {
    list-style: none;
    padding: 0;
    display: flex;
}

.ProfileCategory li {
    padding: 8px 16px;
    border-radius: 20px;
    margin: 16px 32px;
  }

.ProfileCategory li:hover:not(.active) {
cursor: pointer;
background-color: grey;
color: white;
}

.ProfileCategory li.active {
    color: black;
    background-color: grey;
  }