.message-container{
    border: 1px solid black;
    border-radius: 15px;
    position:fixed;
    right: 90px;
    top: 80px;
    height: 550px;
    width:315px;
    z-index: 1;
    background-color: white;
    padding:12px
}

.close {
    float: right;
}

.message-title {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    color: #29465B
}