.message-container{
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position:fixed;
    right: 0px;
    bottom: 0px;
    height: 540px;
    width:330px;
    z-index: 20;
    background-color: white;
    padding:12px;
    font-family: Arial;
    font-style: normal;
}


.message-search-bar{
    background-color: #8796A0; 
}

.close {
    float: right;
}

.message-title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #29465B;
    margin: 0;
}

.scroll-container{
    overflow-y: scroll;
    overflow-x: hidden;
}
