.App {
  width: 100%;
}
.user-icon-bg-btn {
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  margin: 10px;
  padding: 0;
}
.project-detail-body-foot-comment .user-icon-bg-btn {
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  margin: 10px 0px;
  padding: 0;
}