@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.project-detail-background {
    width: 100vw;
    height: 100%;
    bottom: 0;
    left: -20px;
    background-color: rgba(0, 0, 0, 0.782);
    z-index: 100;
    position: absolute;
    display: grid;
    grid-template-columns: 90px auto 100px;
    grid-template-rows: 90px auto;
    grid-template-areas:
        "left head right"
        "left body right";
        text-align: left;
}


.project-detail-left {
    grid-area: left;
}
.project-detail-right {
    margin: 100px 0 0 0;
    grid-area: right;
}
.project-detail-right-sub {
    padding: 0 10px 0 0;
    height: 350px;
    width: 100%;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.project-detail-right button {
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.project-detail-right .project-detail-right-x {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background-color: transparent;
}
.project-detail-right button img {
    height: 30px;
    width: 30px;
}
.profile-btn-hover {
    position: relative;
    display: grid;
    place-content: center;
}
#user-img {
    width: 50px;
    height: 50px;
}



.project-detail-head {
    grid-area: head;
    display: flex;
    align-items: center;
    height: 100px;
}
.project-detail-head button {
    border: none;
    background-color: transparent;
}
.project-detail-head button img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.project-detail-head-name {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0 0 0 10px;
}



.project-detail-body {
    grid-area: body;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-detail-body-img {
    background-color: black;
    width: 100%;
    height: 500px;
    display: grid;
    place-content: center;
    font-size: 40px;
    color: white;
}

.project-detail-body-project-link {
    margin: 50px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1px black;
    justify-content: space-evenly;

}
.project-detail-body-project-link a {
    color: #005cfc;
    font-size: 22px;
    padding: 0 30px;
    border-right: 1px solid #005cfc;
    border-left: 1px solid #005cfc;
}
.project-detail-body-project-link a:nth-child(1) {
    border-left: none;
}
.project-detail-body-project-link a:last-child {
    border-right: none;
}
.project-detail-body-project-link a:hover {
    text-decoration: underline;
}

.project-detail-body-main {
    width: 90%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-detail-body-main h1 {
    font-size: 45px;
    letter-spacing: 1px;
    margin: 30px 0 50px 0;
    text-align: left;
    width: 100%;
}

.project-detail-body-section {
    width: 100%;
    max-width: 800px;
    font-family: 'Roboto', Arial, sans-serif;
}
.project-detail-body-section-each h3 {
    font-size: 30px;
    margin: 40px 0 10px 0;
    font-weight: 600;
}
.project-detail-body-section-each p {
    font-size: 20px;
    margin: 10px 0 20px 0;
}



.project-detail-body-other {
    width: 100%;
    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 50px 0;
    padding: 15px 0;
    user-select: none;
}
.project-detail-body-other h2 {
    text-align: center;
    margin: 20px 0 30px 0;
}
.project-detail-body-other-userimg {
    height: 70px;
    width: 70px;
    border: none;
    background-color: transparent;
}
.project-detail-body-other-projects {
    margin: 20px 0 ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}



.project-detail-body-foot {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 320px;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    user-select: none;
}
.project-detail-body-foot-comment {
    border: 1px solid grey;
}
.project-detail-body-foot-comment-box {
    border-bottom: 1px solid grey;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 1fr;
    width: 100%;
    height: 200px;
    padding: 20px;
}
.project-detail-body-foot-comment-list {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.comment-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.comment-main textarea {
    width: 100%;
    height: 130px;
    resize: none;
    border: 1px solid grey;
}
.comment-main button {
    height: 30px;
    width: auto;
    background-color: #29465B;
    border-radius: 50px;
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0 15px;
    align-self: flex-end;
    color: white;

}
.project-detail-body-foot-detail > div {
    border: 1px solid grey;
    margin: 0 0 20px 0;
    padding: 10px;
}
.project-detail-body-foot-tag p {
    margin: 0 0 20px 0;
}
.project-detail-body-foot-tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.project-detail-body-foot-user {
    height: 165px;
}
.project-detail-body-foot-user-info {
    display: flex;
    align-items: center;
}
.project-detail-body-foot-user-info button img {
    width: 60px;
    height: 60px;
}
.project-detail-body-foot-user-info-name p img {
    width: 17px;
    height: 17px;
    margin: 0 0 -3px 0;
}




.project-detail-body-foot-user-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 10px 0;
}
#user-card-btn-3 img {
    width: 13px;
    height: 13px;
    margin: 0 0 -2px 0;
}
#user-card-btn-4 img {
    width: 13px;
    height: 13px;
    margin: 0 0 -2px 0;
}
#user-card-btn-3 {
    height: 26px;
    width: 252px;
    margin: 10px 0 0 0;
    background-color: transparent;
    border: 1px solid #29465B;
    border-radius: 50px;
    display: inline;
    color: #29465B;
}
#user-card-btn-4 {
    height: 26px;
    width: 252px;
    margin: 10px 0 20px 0;
    background-color: transparent;
    border: 1px solid #29465B;
    border-radius: 50px;
    display: inline;
    color: #29465B;
}

#user-card-btn-3:hover {
    color: white;
    background-color: #29465B;
    border: none;
}
#user-card-btn-4:hover {
    color: white;
    background-color: #29465B;
    border: none;
}
#user-card-btn-3:hover img {
    content: url('../../images/icons/follow-btn-white.svg');
}
#user-card-btn-4:hover img {
    content: url('../../images/icons/mess-btn-2.svg');
}


.usercard {
    visibility: hidden;
    position: relative;
    top: 280px;
    left: -255px;
}
.profilebtnhover:hover .usercard {
    visibility: visible;
}